<!-- use form model driven, reactive form -->
<div class="container" style="margin-top: 40px">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <div>
        <label for="productName">Product Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="product_name"
        />
        <div
          *ngIf="submitted && form.controls['product_name'].errors"
          class="error"
        >
          <div
            class="text-danger"
            *ngIf="form.controls['product_name'].errors['required']"
          >
            Product Name is required
          </div>
        </div>
      </div>
      <div>
        <label for="productStock">Stock</label>
        <input
          type="number"
          class="form-control"
          formControlName="product_stock"
          min="1"
        />
        <div
          *ngIf="submitted && form.controls['product_stock'].errors"
          class="error"
        >
          <div
            class="text-danger"
            *ngIf="form.controls['product_stock'].errors['required']"
          >
            Stock is required
          </div>
        </div>
      </div>

      <div>
        <label for="productPrice">Price</label>
        <input
          type="number"
          class="form-control"
          formControlName="product_price"
        />
        <div
          *ngIf="submitted && form.controls['product_price'].errors"
          class="error"
        >
          <div
            class="text-danger"
            *ngIf="form.controls['product_price'].errors['required']"
          >
            Price is required
          </div>
        </div>
      </div>

      <div>
        <label for="productPhoto">Photo</label>
        <input
          type="text"
          class="form-control"
          formControlName="product_photo"
        />
        <div
          *ngIf="submitted && form.controls['product_photo'].errors"
          class="error"
        >
          <div
            class="text-danger"
            *ngIf="form.controls['product_photo'].errors['required']"
          >
            Photo is required
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-right: 5px">
      Submit
    </button>

    <button
      type="submit"
      class="btn btn-danger ml-1"
      [routerLink]="['/product']"
    >
      Cancel
    </button>
  </form>
</div>
